.base {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  appearance: none;
  font-weight: bold;
}

.disabled {
  cursor: not-allowed;
}

[data-theme='light'] .base.transparency {
  background-color: rgba(255, 255, 255, 0.5);
}

[data-theme='light'] .base.transparency:hover {
  background-color: rgba(200, 200, 200, 0.75);
}

[data-theme='light'] .base:not(.transparency) {
  background-color: rgb(235, 235, 235);
}

[data-theme='light'] .base:not(.transparency):hover {
  background-color: rgb(198, 198, 198);
}

[data-theme='dark'] .base.transparency {
  background-color: rgba(0, 0, 0, 0.5);
}

[data-theme='dark'] .base.transparency:hover {
  background-color: rgba(50, 50, 50, 0.75);
}

[data-theme='dark'] .base:not(.transparency) {
  background-color: rgb(46, 46, 46);
}

[data-theme='dark'] .base:not(.transparency):hover {
  background-color: rgb(40, 40, 40);
}

.capsule {
  min-width: 100px;
  padding: 4px 8px;
  border-radius: 36px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
}

.rounded {
  padding: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.default.box_shadow {
  box-shadow: 0 0 2px #ddd;
}

.default.box_shadow:hover {
  box-shadow: 0px 0px 8px 2px #ddd;
}

.reddish.box_shadow {
  box-shadow: 0 0 2px #ce3458;
  color: #ce3458;
}

.reddish.box_shadow:hover {
  box-shadow: 0px 0px 8px 2px #ce3458;
}

.blueish.box_shadow {
  box-shadow: 0 0 2px #26b2d0;
  color: #26b2d0;
}

.blueish.box_shadow:hover {
  box-shadow: 0px 0px 8px 2px #26b2d0;
}

.focus_ring {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 1px var(--accent-color);
}

.reddish.focus_ring {
  border-color: #ce3458;
  box-shadow: 0 0 0 1px #ce3458;
}

.blueish.focus_ring {
  border-color: #26b2d0;
  box-shadow: 0 0 0 1px #26b2d0;
}