.theme_btn_svg {
  transition: stroke 400ms;
}

[data-theme='light'] .theme_btn_svg {
  stroke: #3f54d1;
}

[data-theme='dark'] .theme_btn_svg {
  stroke: #ffd13b;
}

.moon {
  stroke-dasharray: 0px 1px;
  opacity: 0;
  transition: stroke-dasharray 0.5s ease-in, opacity 300ms ease-in;
}

.sun {
  stroke-dasharray: 1px 1px;
  opacity: 1;
  transition: stroke-dasharray 0.5s ease-in, opacity 300ms ease-in;
}

[data-theme='dark'] .moon {
  stroke-dasharray: 1px 1px;
  opacity: 1;
}

[data-theme='dark'] .sun {
  stroke-dasharray: 0px 1px;
  opacity: 0;
}