.filtered_list_item {
    min-height: 48px;
}

@media only screen and (max-width: 449px) {
    .filtered_list_item {
        flex-direction: column;
    }
}

.page_indicator_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.page_indicator:first-child {
    flex-direction: row-reverse;
}

.page_indicator {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 16px;
}

.page_indicator button:first-child {
    font-size: 1.3rem;
}

.current_page_indicator {
    user-select: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.page_indicator button {
    cursor: pointer;
}
