#home_icon {
  font-size: 1.5rem;
  font-weight: bold;
}

.line,
.line_division {
  display: flex;
  align-items: center;
}

.line {
  gap: 48px;
  min-width: 200px;
  max-width: var(--footer-max-width);
}

.line_division {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 1rem;
}

.line_division:last-child {
  justify-content: flex-end;
}

.line ul {
  order: unset;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.line li {
  list-style-type: none;
  flex-shrink: 0;
}
