/* @media only screen and (max-width: 399px) {
    .modal_container {
        width: 90vw;
    }
}

@media only screen and (min-width: 400px) {
    .modal_container {
        width: 400px;
    }
} */

.modal {
    background-color: transparent;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_container {
    width: min(70vw, 400px);
}