.list_item {
  font-size: 14px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  outline: none;
}

[data-theme='light'] .list_item {
  color: #333;
}

[data-theme='dark'] .list_item {
  color: #dadada;
}

.list_item:not(.isFocused) svg {
  color: var(--accent-color);
}

.isFocused svg {
  color: #ffffff;
}

.list_item.isFocused {
  background: var(--accent-color);
}

.liste_item.isSelected {
  color: var(--accent-color);
  font-weight: 600;
}
