@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #28b1d7;
  --accent-color-diluted: #28b1d786;

  --reddish-color: #f14c4c;
  --reddish-color-diluted: rgba(241, 76, 76, 0.483) c;

  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --navbar-max-width: 1280px;
  --footer-max-width: 1280px;

  /* UTILITY THEME */
  --crimson-light: #ff7070;
  /* known as 'dot color' */
  --crimson: #b53f1f;
  --pinegreen: #018440;
  --teal: #4ec9b0;
  --mercury: #e3e7e8;
  --light-gray: #dbdbdb;
  --ash-gray: #bababa;
  --dark-gray: #424545;
  --deep-sea: #242626;
  --midnight: #1d1e1f;

  /* OFFICIAL THEME */
  --back-pearl: #091114;
  --deep-teal: #223f4a;
  --chathams-blue: #2a5e73;
  --teal-blue: #22779a;
  --topaz: #40b9bd;
  --mint: #8de7eb;
  --white-mint: #defffc;
  --white: #f7f7f7;

  /* FINANCE THEME */
  --sell-light: #ff4330;
  --buy-light: #23ad42;
  --sell-dark: #ff5a4a;
  --buy-dark: #42b95d;
}

/* this project uses the dark-mode by default */
body {
  color: rgb(249 250 251);
  background-color: rgb(40, 40, 40);
}

[data-theme="light"] body {
  color: rgb(31 41 55);
  background-color: rgb(214, 219, 220);
}

/* Simplest CSS Reset to prevent headaches */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* scroll-behavior: smooth;
  max-width: 100vw;
  max-width: 100svw;
  overflow-x: hidden;
  margin: 0px; */
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  object-fit: contain;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}
