.flex_grid_container {
    max-width: 635px;
    /* justify-content: space-between; */
}

.flex_grid_item {
    width: 200px;
    height: 200px;
}

.flex_grid_item svg {
    width: 64px;
    height: 64px;
}

.current_item {
    box-shadow: 0px 0px 4px var(--accent-color);
    color: var(--accent-color);
}