.form_base {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  max-width: 400px;
}

[data-theme='light'] .form_base {
  background: rgba(255, 255, 255, 0.06);
}

[data-theme='dark'].form_base {
  background: rgba(55, 55, 55, 0.33);
}

.title {
  font-weight: 500;
  color: #fff;
  opacity: 0.9;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.form_base label {
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: left;
  margin-bottom: 0.5rem;
  color: var(--reddish-color);
}

.form_base input {
  background: transparent;
  border: none;
  outline: none;
  /* max-width: 400px; */
  padding: 1em;
  margin-bottom: 1rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9) inset;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.form_base input:hover {
  box-shadow: 0px 0px 6px 2px var(--accent-color-diluted) inset;
}
.form_base input[type="email"]:focus,
.form_base input[type="password"]:focus {
  box-shadow: 0px 0px 6px 2px var(--accent-color) inset;
}
.form_base span {
  text-align: justify;
}
.form_base span,
.form_base a {
  font-size: 0.8rem;
  line-height: 1.5;
}
.form_base a {
  color: var(--accent-color-diluted);
}
.form_base a:hover {
  color: var(--accent-color);
}
